link(rel="stylesheet", href="/vendor/leaflet/dist/leaflet.css")
link(rel="stylesheet", href="/vendor/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css")
link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
div.jumbotron.text-center
   div.container(ng-controller="MapController")
      div.col-md-8.col-md-offset-0
         div.panel.panel-default
            div.panel-heading
               h4.panel-title Geo Mapping
            div.panel-body
               leaflet(id="map", center="map.center", markers="map.markers", layers="map.layers", width="700", height="480")

      div.col-md-4.col-md-offset-0
         div.panel.panel-default
            div.panel-heading
               h4.panel-title Geoprocessing Options
            div.panel-body.text-left
               small
                  b Activate: &nbsp;&nbsp;
                     input(type="checkbox" id="geop_check" ng-click="geop_process()")
                  div(id="geop_div" ng-hide="geop_options")
                     br
                     div.col-md-12.text-center
                        span.glyphicon.glyphicon-forward.pull-left(style="-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);")
                        b Day XPTO
                        span.glyphicon.glyphicon-forward.pull-right()
                     br
                     br
                     div.col-md-12
                        div.col-sm-6.col-sm-offset-0
                           b Layer 1: &nbsp;&nbsp;
                              input(checked value="1" ng-click="layer_control($event)" type="checkbox")
                        div.col-sm-6.col-sm-offset-0
                           b Opacity:
                           div.input-group
                              span.input-group-btn
                                 button.btn.btn-xs.btn-danger.btn-number(type='button', data-type='minus', data-field='quant[1]')
                                    span.glyphicon.glyphicon-minus
                              input.form-control.input-number(ng-model="l1_v" ng-change="opacity_control(1)" id="op_1" style="height: 22px;padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;" type='text', name='quant[1]', value='20', min='1', max='100')
                              span.input-group-btn
                                 button.btn.btn-xs.btn-success.btn-number(type='button', data-type='plus', data-field='quant[1]')
                                    span.glyphicon.glyphicon-plus
                     div.col-md-12
                        div.col-sm-6.col-sm-offset-0
                           b Layer 2: &nbsp;&nbsp;
                              input(checked value="2" ng-click="layer_control($event)" type="checkbox")
                        div.col-sm-6.col-sm-offset-0
                           b Opacity:
                           div.input-group
                              span.input-group-btn
                                 button.btn.btn-xs.btn-danger.btn-number(type='button', data-type='minus', data-field='quant[2]')
                                    span.glyphicon.glyphicon-minus
                              input.form-control.input-number(ng-model="l2_v" ng-change="opacity_control(2)" id="op_2" style="height: 22px;padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;" type='text', name='quant[2]', value='50', min='1', max='100')
                              span.input-group-btn
                                 button.btn.btn-xs.btn-success.btn-number(type='button', data-type='plus', data-field='quant[2]')
                                    span.glyphicon.glyphicon-plus
                     div.col-md-12
                        div.col-sm-6.col-sm-offset-0
                           b Layer 3: &nbsp;&nbsp;
                              input(checked value="3" ng-click="layer_control($event)" type="checkbox")
                        div.col-sm-6.col-sm-offset-0
                           b Opacity:
                           div.input-group
                              span.input-group-btn
                                 button.btn.btn-xs.btn-danger.btn-number(type='button', data-type='minus', data-field='quant[3]')
                                    span.glyphicon.glyphicon-minus
                              input.form-control.input-number(ng-model="l3_v" ng-change="opacity_control(3)" id="op_3" style="height: 22px;padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;" type='text', name='quant[3]', value='80', min='1', max='100')
                              span.input-group-btn
                                 button.btn.btn-xs.btn-success.btn-number(type='button', data-type='plus', data-field='quant[3]')
                                    span.glyphicon.glyphicon-plus


         div.panel.panel-default
                  div.panel-heading
                     h4.panel-title Network Info
                  div.panel-body.text-left
                     small
                        b Host:
                        a(href="http://hydra.dei.uc.pt/supervision/api/v2/")  http://hydra.dei.uc.pt/supervision/api/v2/
                        br
                        b Administrator:
                        |  {{network_info.general.admin}}
                        br
                        b Network Name:
                        |  liis_wsn01
                        br
                        b Type:
                        |  {{network_info.general.type}}
                        br
                        b Number of Nodes:
                        |  {{network_info['number-of-nodes']}}
                        br
                        b Sampling Rate:
                        |  {{network_info['sampling-time']}} s
                        br
                        b Camera:
                        a(href="network_info.general.camera")  {{network_info.general.camera}}
                        br
                        div.panel.panel-default
               div.panel.panel-default
                  div.panel-heading
                     h4.panel-title Node Info
                  div.panel-body.text-left
                     small(ng-repeat="(sensor, unit) in sensors")
                        b {{sensor}}:
                        |  {{unit}}
                        br

