doctype
html
    head
        title LIIS - GIS
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/angular-loading-bar/src/loading-bar.css")
        link(rel="stylesheet", href="/vendor/angular-block-ui/dist/angular-block-ui.min.css")
        base(href="/")
        include scripts
body(ng-app='app')
    block main-content
        section.content
            div(ng-view)